.catalogue__title {
    text-align: center;
    padding: 25px 0;
}

.catalogue {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.catalogue__search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    margin: 25px;
    width: 320px;
}

.catalogue__search-box {
    display: flex;
    
}

.searchbox__txt {
    border: none;
    background-color: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    background: #2f3640;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 240px;
    height: 40px;
}

.searchbox__btn {
    position: absolute;
    right: 3px;
    top: 1px;
    background-color: var(--button-background-color);
    border: none;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    cursor: pointer;
}

/* .catalogue__search-box {
    display: flex;
    align-items: center;
    justify-content: center;
} */
