<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VWparts-USA</title>
        <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>
        <section class="change__form hidden">
                <div class="admin__add-form">
                        <div class="add__form-text">
                                <span class="login-box"><button class="add__btn btn-change" id="btn-change"
                                                type="submit">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>Confirm changes</button>
                                </span>
                                <span class="login-box"><button onclick="closeMyModal()" class="btn-close add__btn"
                                                id="btn-close" type="submit">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>Close</button>
                                </span>
                        </div>
                </div>
        </section>
        <script src="../js/products-catalogue.js"></script>
</body>

</html>