<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VWparts-USA</title>
        <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>
        <section class="change__form hidden">
                <div class="admin__add-form">
                       
                </div>
        </section>
        <script src="https://unpkg.com/html-data-include@3.3.3/html-data-include.js"></script>
        <script src="../js/products-catalogue.js"></script>
</body>

</html>