<header class="Header__background">
    <div class="container">
        <div class="header__container">
            <nav class="header__nav">
                <ul class="header__nav-list">
                    <ol class="header__nav-list-li"><a class="header__btn" href="search.html">Search</ol></a>
                    <ol class="header__nav-list-li"><a class="header__btn" href="products-catalogue.html">Catalogue</ol></a>
                    <ol class="header__nav-list-li"><a class="header__btn" href="add-form.html">Add products</ol></a>
                </ul>
            </nav>
        </div>
    </div>
</header>